  <%= form_for([@event, @eventpost], remote: true) do |form| %>

    <% if eventpost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(eventpost.errors.count, "error") %> prohibited this eventpost from being saved:</h2>

      <ul>
        <% eventpost.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :post %>
    <%= form.text_field :post %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
